
// Fonts
@import url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans");

// iconos
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// toastr
@import '~toastr/build/toastr';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.btn-cuadrado{
  border-radius: 0px;
}
